.expenses-content{
  padding: $l-size 0;
}

.expenses-filter{
  display: flex;
  justify-items: center;
  align-items: center;

  .form-control{
    flex: 1 0;

    input, select{
      padding: 13px 12px 11px;
      display: inline-block;
      background: $white;
    }
  }
}

.expenses-form{
  display: block;

  .form-control{
    display: block;
    margin: $m-size 0;

    input, select, textarea{
      padding: 13px 12px 11px;
      display: block;
      width: 100%;
      background: $white;
      box-sizing: border-box;
    }

    .SingleDatePicker,
    .SingleDatePickerInput,
    .DateInput{
      width: 100%;
    }
  }
}

.remove-expense{
  margin-top: $m-size;
}

.expense-list{
  margin-top: $l-size;
  border: 2px solid rgba(lightgray, 0.7);

  h3, p{
    margin: 0;
  }

  a{
    color: $dark-grey;
    text-decoration: none;
  }

  .expense-title{
    background: rgba(lightgray, 0.4);
    padding: $m-size;
    border-bottom: 2px solid rgba(lightgray, 0.7);

    .only-for-mob{
      display: none;
    }
  }

  ul{
    display: block;
    padding: 0;
    margin: 0;
    li{
      padding: $m-size;
      list-style: none;

      &:not(:last-of-type){
        border-bottom: 2px solid rgba(lightgray, 0.7);
      }
    }
  }
}

@media (max-width: 960px) {
  .fix-width-wrap{
    max-width: 90%;
  }

  .expenses-filter {
    display: block;

    .form-control {
      display: block;
      margin-bottom: $m-size;
    }
  }


  .expense-list {
    .expense-title {
      span:not(.only-for-mob ){
        display: none;
      }
      .only-for-mob {
        display: block;
      }
    }

    ul li, .main-col, .secondary-col{
      display: block;
    }
  }
}
