header{
  background: rgba(lightblue, 0.8);
  padding-bottom: $l-size;

  .top-panel{
    background: rgba(darkgray, 0.8);
    font-size: 24px;

    a{
      color: $white;
      text-decoration: none;
    }
  }

  .total-text{
    font-size: 18px;
    bold{
      font-weight: bold;
    }
  }
}

.flex-wrap{
  display: flex;
  align-items: center;
  .main-col{
    flex: 1 0;
  }
  .secondary-col{
    flex: 0 1;
  }
}