.middle-box{
  padding: $m-size $l-size;
  background: rgba(lightgray, 0.7);
  display: block;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  flex: 1;
  border-radius: 5px;

  h1{
    margin: 0 0 $s-size 0;
  }
}

.login-page{
  background: url("/images/bg.jpg");
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}