

html{
  font-size: 62.5%;
}

body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  color: $dark-grey;
  line-height: 1.6;
}

.fix-width-wrap{
  max-width: 900px;
  margin: 0 auto;
}

.loader{
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;

  &:after{
    content: "";
    display: inline-block;
    background: url("/images/loader.gif");
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-bottom: -10px;
  }
}

h1{
  font-size: 3rem;
}

button{
  cursor: pointer;
  &:disabled{
    cursor: default;
  }
}
